<section>
  <html>

  <head>
    <meta charset="UTF-8">
    <title>Check Vehicle Form</title>
    <script src="https://cdn.jsdelivr.net/gh/alphardex/aqua.css@master/dist/aqua.min.css"></script>
  </head>

  <body>
    <form class="login-form" method="POST" action="/findVehicle">
      <h1>Find Your Vehicle!</h1>
      <div class="form-input-material">
        <input type="text" name="vehicle_no" id="vehicle_no" placeholder="Enter the Registration No." autocomplete="off"
          class="form-control-material" required />
        <label for="vehicle_no">Vehicle Number</label>
      </div>
      <button type="submit" class="btn btn-primary btn-ghost">Find</button>
    </form>
  </body>

  </html>

</section>