<link rel="stylesheet" href="/stylesheets/statistics_background.css">

<section>

	<div id="statistics">
		<iframe style="position:absolute; background: #FFFFFF; margin:50px" width="1130px" height="450px"
			src="https://charts.mongodb.com/charts-project-1-svewi/embed/charts?id=f840a76b-25ea-4530-8006-65d283c01f68&autoRefresh=60&theme=light"></iframe>
	</div>


</section>